<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liruo.communityforum.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.liruo.communityforum.model.domain.Post">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="created" column="created" jdbcType="BIGINT"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="communityId" column="community_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="clickCount" column="click_count" jdbcType="INTEGER"/>
            <result property="favorCount" column="favor_count" jdbcType="INTEGER"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="collectedCount" column="collected_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,created,deleted,
        user_id,community_id,title,
        content,click_count,favor_count,
        comment_count,collected_count
    </sql>


</mapper>
